.footer{
    margin: 1rem 0 !important;
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer-link, .footer-link:visited{
    color: var(--background) !important;
    text-decoration: none;
}

/*Small Screens*/
@media screen and (max-width: 576px){

    .footer{
        margin-bottom: 1rem !important;
        padding: 0.5rem;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }  
    
    .button-flex{
        flex-direction: column;
    }
}