.footer {
    margin: 1rem 0;
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer span {
    font-family: var(--Jost);
    font-size: clamp(0.95rem, 1rem + 0.2vw, 1.125rem);
    margin: 1rem 0;
}

.footer-link,
.footer-link:visited {
    color: var(--background) !important;
    text-decoration: none;
}
