.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    background-color: var(--background) !important;
    z-index: 4000 !important;
}

.navbar-expand-sm .navbar-collapse {
    justify-content: flex-end;
}

.nav-logo {
    width: 200px;
}

.nav-link,
.dropdown-item {
    font-family: var(--Jost);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    color: var(--background);
    text-align: center;
}

.dropdown-item {
    font-weight: 400;
    line-height: 25px;
    color: var(--accent-red) !important;
    width: auto !important;
    margin: 0 0.5rem;
    padding: 0.25rem 0.4rem;
    border-radius: 50vw;
}

.dropdown-menu {
    background-color: var(--background) !important;
    border: 0;
    border-radius: 0 0 20px 20px;
    left: -8px;
}

.dropdown-item:hover {
    background-color: var(--accent-blue);
    color: var(--background) !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url(../images/general/hamburger-menu.svg) !important;
}

.dropdown-toggle::after {
    border: none !important;
    content: "" !important;
    display: inline-block;
    background: url(../images/general/dropdown-icon.svg);
    background-size: cover;
    width: 20.5px;
    height: 12px;
    vertical-align: 0;
    margin: 2px 0;
    margin-left: 6px !important;
}

.nav-link.dropdown-toggle {
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .navbar-collapse.show .navbar-nav {
        text-align: center;
    }

    .navbar-collapse.show .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-collapse.show .navbar-nav .nav-link.dropdown-toggle {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
        text-align: center;
        left: auto;
        right: auto;
        border-radius: 0 0 20px 20px;
    }

    .dropdown-item {
        text-align: center;
    }
}

.form-control {
    border-radius: 4.25rem;
}
