/* Responsive Styles - Media Queries */

/* Medium Screens */
@media screen and (max-width: 768px) {
    body {
        background-color: var(--background);
        padding-top: 60px;
    }

    /* Navigation */
    .nav-link {
        font-family: var(--Jost);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 0px;
        color: var(--orange) !important;
    }

    .dropdown-item {
        font-family: var(--Jost);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        margin: 0px;
        color: var(--orange) !important;
    }

    /* Home Cards */
    .card > img {
        width: 90%;
    }

    /* About */
    .about div h1 {
        font-size: 14.5vw;
        line-height: 15vw;
    }

    .about h5 {
        font-size: 5vw;
        line-height: 5vw;
    }

    .about img {
        object-fit: cover;
        border-radius: 50vw 50vw 0 0;
        padding: 1rem 0;
        height: 500px;
    }

    .contact > div > img {
        height: 250px;
    }

    /* Skills */
    .resume-section {
        margin: 0 2rem;
    }

    /* Contents */
    .contents-flex {
        justify-content: space-around;
        flex-direction: column;
    }

    div.contents {
        font-size: 3vw;
        margin: 20px 0;
    }

    .persona-flex {
        flex-direction: column;
    }

    .persona-flex div {
        width: 100%;
    }

    .persona-flex picture {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Design & Media */
    .art-section {
        flex-direction: column;
    }

    .art-section a {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 400px;
    }
}

/* Small Screens */
@media screen and (max-width: 576px) {
    /* General */
    body {
        padding-top: 65px;
    }

    h1 {
        font-size: 17vw;
        line-height: 17vw;
    }

    h2 {
        font-size: 9vw;
        line-height: 9vw;
        letter-spacing: 2vw;
    }

    h3 {
        font-size: 11.5vw;
        line-height: 11.5vw;
    }

    h5 {
        font-size: 9vw;
        line-height: 12vw;
    }

    h6 {
        font-size: 18px;
        line-height: 22px;
    }

    .vert-frame {
        min-width: 400px;
        height: 800px;
    }

    picture, .abstract-img {
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    /* Header */
    .name-header {
        flex-direction: column;
        justify-content: center;
        margin-top: 6vw;
        margin-bottom: 5vw;
    }

    .first-name {
        letter-spacing: 5vw;
        text-align: right;
    }

    header > div {
        margin-bottom: 10vw;
    }

    /* Navigation */
    .nav-link {
        font-size: 30px;
        line-height: 30px;
    }

    .dropdown-item {
        font-size: 25px;
        line-height: 25px;
    }

    .navbar {
        padding: 0.5rem 1rem;
        background-color: var(--background) !important;
    }

    /* Home Cards */
    .card > img {
        width: 95%;
    }

    /* About */
    .about div {
        padding-bottom: 1vw;
    }

    .about div h1 {
        font-size: 14.5vw;
        line-height: 15vw;
    }

    .skills div img {
        margin: 1vw;
        height: 15vw;
    }

    .about img {
        height: 350px;
    }

    .contact > div > img {
        height: 150px;
    }

    .about h5 {
        font-size: 8vw;
        line-height: 9vw;
    }

    /* Resume */
    .resume-section p, .resume-section li {
        font-size: 16px;
    }

    .resume-section {
        margin: 0 1rem;
    }

    .skills-parent {
        justify-content: flex-start;
    }

    .resume-skills {
        width: 100%;
    }

    /* Case Study */
    .case-study-title {
        height: 56vw;
    }

    .case-study-title h1 {
        font-size: 11vw;
        line-height: 14vw;
    }

    .wireframes img {
        width: 100%;
    }

    .wireframes {
        flex-wrap: wrap;
    }

    /* Design */
    .video-section {
        flex-direction: column;
    }

    .video-section h3 {
        font-size: 12vw;
        line-height: 15vw;
    }

    .video-section > div > div {
        padding: 4vw;
        margin-top: -10vw;
    }
}

/* Large Screens */
@media screen and (min-width: 1200px) {
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .card {
        width: 49%;
    }

    .card-body {
        flex: initial;
        margin-bottom: -145px;
        height: 430px;
    }

    .card > img {
        width: 95%;
        align-self: flex-end;
    }

    .layer-1 {
        margin-bottom: -150px !important;
    }

    .layer-2 {
        margin-bottom: -150px !important;
    }

    .layer-3 {
        margin-bottom: -200px !important;
    }

    h3 {
        font-family: var(--Jost);
        font-size: 60px;
        line-height: 60px;
    }
}

/* Extra Small Screens */
@media screen and (max-width: 568px) {
    .finalbuild {
        width: 100%;
        height: 955px;
    }
}

@media screen and (max-width: 492px) {
    iframe {
        width: 100%;
        height: 600px;
    }
}

@media screen and (max-width: 386px) {
    h2 {
        font-size: 9vw;
        line-height: 12vw;
    }

    h3 {
        font-size: 10.5vw;
        line-height: 10.5vw;
    }

    h4 {
        font-size: 20px;
    }

    .nav-logo {
        width: 175px;
    }

    header > div {
        margin-bottom: 4vw;
    }

    .name-header {
        margin-top: 1vw;
        margin-bottom: 4vw;
    }

    .contact-icon {
        width: 45px;
    }

    .vert-video {
        width: 275px;
        height: 480px;
    }

    .contents a {
        font-size: 18px;
    }

    .case-study-sect h4 {
        font-size: 24px;
    }
}
