/* CSS custom properties and utility classes */

html {
    --accent-red: #b5512a !important;
    --accent-red-dark: #76351b !important;
    --accent-red-light: #daa894 !important;

    --accent-blue: #277785 !important;
    --accent-blue-dark: #194d56 !important;
    --accent-blue-light: #93bbc2 !important;

    --accent-purple: #715790 !important;
    --accent-purple-dark: #493b61 !important;
    --accent-purple-light: #b8acca !important;

    --accent-green: #55792c !important;
    --accent-green-dark: #374f1d !important;
    --accent-green-light: #aabc95 !important;

    --secondary-accent: #76acb6 !important;
    --decorative-green: #7ca835 !important;
    --decorative-purple: #715a95 !important;

    --accent-yellow: #ddd347 !important;

    --background: #fff9ee !important;
    --background-medium: #fbf0dc !important;
    --background-dark: #e6dcca !important;
    --text: #222222 !important;
    --focus-link: #007bff !important;

    --Jost: "Jost", Arial, sans-serif;
    --rhythm: 24px;
}

.color-accent-red,
.color-orange {
    color: var(--accent-red) !important;
}

.color-accent-blue,
.color-blue {
    color: var(--accent-blue) !important;
}

.color-accent-purple,
.color-purple {
    color: var(--accent-purple) !important;
}

.color-accent-green,
.color-green {
    color: var(--accent-green) !important;
}

.color-accent-red-hover:focus,
.color-accent-blue-hover:focus,
.color-accent-green-hover:focus,
.color-accent-purple-hover:focus,
.color-tan-hover,
.magenta-hover:focus,
.pink-hover:focus,
.blue-hover:focus,
.purple-hover:focus {
    box-shadow: 0 0 0 0.2rem var(--background) !important;
    border: solid 0.2rem var(--focus-link) !important;
}

.color-accent-red-hover:hover,
.magenta-hover:hover,
.pink-hover:hover {
    background-color: var(--accent-red-dark) !important;
}

.color-accent-red-hover:active,
.magenta-hover:active,
.pink-hover:active {
    background-color: var(--accent-red-light) !important;
}

.color-accent-blue-hover:hover,
.blue-hover:hover {
    background-color: var(--accent-blue-dark) !important;
}

.color-accent-blue-hover:active,
.blue-hover:active {
    background-color: var(--accent-blue-light) !important;
}

.color-accent-green-hover:hover {
    background-color: var(--accent-green-dark) !important;
}

.color-accent-green-hover:active {
    background-color: var(--accent-green-light) !important;
}

.color-accent-purple-hover:hover,
.purple-hover:hover {
    background-color: var(--accent-purple-dark) !important;
}

.color-accent-purple-hover:active,
.purple-hover:active {
    background-color: var(--accent-purple-light) !important;
}

.color-tan {
    color: var(--background) !important;
}

.color-text,
.text-color-dark {
    color: var(--text) !important;
}

.text-color-light {
    color: var(--background) !important;
}

.bg-accent-blue,
.bg-blue {
    background-color: var(--accent-blue) !important;
}

.bg-accent-green,
.bg-green {
    background-color: var(--accent-green) !important;
}

.bg-accent-red,
.bg-orange,
.bg-pink,
.bg-magenta {
    background-color: var(--accent-red) !important;
}

.bg-accent-purple,
.bg-purple {
    background-color: var(--accent-purple) !important;
}

.bg-tan {
    background-color: var(--background) !important;
}

.bg-accent-red-dark {
    background-color: var(--accent-red-dark) !important;
}

.bg-accent-blue-dark {
    background-color: var(--accent-blue-dark) !important;
}

.bg-accent-green-dark {
    background-color: var(--accent-green-dark) !important;
}

.bg-accent-purple-dark {
    background-color: var(--accent-purple-dark) !important;
}
